{% extends "layout.html" %}

{% block heading %}
<h2>Asset Management</h2>
{% endblock %}

{% block content %}
<br>
<br>
    <table>
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>ID</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            {% for i, asset in assets.iterrows() %}
                <tr>
                    <td>{{asset["name"]}}</td>
                    <td>{{asset.asset_id}}</td>
                    <td>{{asset.class}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
<hr>
<p><strong>Add New Asset</strong></p>
    <form action="/new_asset" method="post" id="new_asset_form">
        Asset Name: <input type="text" name="name" id ="name"><br><br>
        Class: <select name="class">
                    <option disable selected>Class</option>
                    <option>Employee</option>
                    <option>Vehicle</option>
                    <option>Equipment</option>
                </select><br><br>
        <input type="submit" value="Submit Asset" />
    </form>
<hr>
<br>

{% endblock %}